.video {
  grid-column: 1 / 15;
  grid-row: 3 / 19;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &:hover .controls {
      transform: translateY(0%);
    }

    & > video {
      border-radius: 10px;
      position: relative;
      object-fit: contain;
      width: 100%;
      outline: none;

      &:hover .controls {
        transform: translateY(0%);
      }
    }
  }
}