@import './styles/normalize.scss';
@import './styles/container.scss';
@import './styles/video.scss';
@import './styles/events.scss';
@import './styles/_vars.scss';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
